---
services:
  bookstack:
    image: lscr.io/linuxserver/bookstack:24.12.20241223@sha256:d1c7c9ac3badb98582b75846db3cccb29b65dafbda2f68a33758032d7a0555b2
    container_name: bookstack
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Europe/Paris
      - APP_URL=https://{{ wiki_domain }}
      - DB_HOST=bookstack_db
      - DB_PORT=3306
      - DB_USER=bookstack
      - DB_PASS={{ wiki_db_password }}
      - DB_DATABASE=bookstack
    volumes:
      - ./config:/config
    ports:
      - 127.0.0.1:{{ wiki_local_port }}:80
    restart: unless-stopped
    depends_on:
      - bookstack_db

  bookstack_db:
    image: lscr.io/linuxserver/mariadb@sha256:1c789fa45286f473d6dba9d9e6ae6fc415427764680620ff2fff641ef73d19f7
    container_name: bookstack_db
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Europe/Paris
      - MYSQL_ROOT_PASSWORD={{ wiki_db_password }}
      - MYSQL_DATABASE=bookstack
      - MYSQL_USER=bookstack
      - MYSQL_PASSWORD={{ wiki_db_password }}
    volumes:
      - ./db_data:/config
    restart: unless-stopped
