# Thanks https://github.com/MiGoller/dc-systemd-template#creating-docker-compose-powered-services-using-systemd-templates
[Unit]
Description=Betisier service powered by docker compose

[Service]
TimeoutStartSec=60
# Restart each day by resetting data - https://stackoverflow.com/a/50332245
Restart=always
RuntimeMaxSec=1d

WorkingDirectory={{ betisier_base_path }}

ExecStartPre=/usr/bin/curl {{ betisier_reset_healthcheck_url }}
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
