---
services:
  betisier:
    container_name: betisier
    image: ghcr.io/sylvainmetayer/betisier-tp:latest@sha256:083bdcae175dbbe2d131d0b1fd60ff4d77004f124c671033db478a90e542ad00
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Europe/Paris
    ports:
      - 127.0.0.1:{{ betisier_local_port }}:80
    volumes:
      - ./config:/config
    restart: unless-stopped

  betisier_db:
    image: lscr.io/linuxserver/mariadb@sha256:a2bd0d13da8294acd4e264fdbe6abd513ef6443391ef9756a55dc7d0a8039060
    container_name: betisier_db
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Europe/Paris
      - MYSQL_ROOT_PASSWORD={{ betisier_db_password }}
      - MYSQL_DATABASE=betisier
      - MYSQL_USER=betisier
      - MYSQL_PASSWORD={{ betisier_db_password }}
    volumes:
      # No DB volume, since we want to reset database on restart
      - ./dump.sql:/config/initdb.d/betisier.sql:ro
    restart: unless-stopped
