---
services:
  freshrss:
    image: ghcr.io/linuxserver/freshrss:1.24.3@sha256:075c79de60a0651496e3234ffc3a4d39fe4b8ab76060ea2872febf214c39acda
    container_name: rss
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Europe/Paris
    volumes:
      - ./config:/config
    ports:
      - {{ rss_local_port }}:80
    # https://github.com/docker/for-linux/issues/264#issuecomment-772844305
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    restart: 'on-failure'

  rss_db:
    image: lscr.io/linuxserver/mariadb
    container_name: rss_db
    environment:
      - PUID={{ ansible_user_uid }}
      - PGID={{ ansible_user_gid }}
      - TZ=Europe/Paris
      - MYSQL_ROOT_PASSWORD={{ rss_db_password }}
      - MYSQL_DATABASE=rss
      - MYSQL_USER=rss
      - MYSQL_PASSWORD={{ rss_db_password }}
    volumes:
      - ./db_data:/config
    restart: unless-stopped
