---
version: "2.1"
services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:version-29.0.3
    container_name: nextcloud
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./config:/config
      - ./data:/data
    ports:
      - '127.0.0.1:9003:80'
    restart: 'on-failure'
