# Thanks https://github.com/MiGoller/dc-systemd-template#creating-docker-compose-powered-services-using-systemd-templates
[Unit]
Description=RSS service powered by docker compose

[Service]
Restart=on-success
TimeoutStartSec=60

WorkingDirectory={{ rss_base_path }}

# Remove old containers, images and volumes and update it
ExecStartPre=/usr/local/bin/docker-compose down
ExecStartPre=/usr/local/bin/docker-compose rm -f
ExecStartPre=/usr/local/bin/docker-compose pull

#   Run Compose up on service start.
ExecStart=/usr/local/bin/docker-compose up

#   Run Compose down, remove containers and volumes on service stop.
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target
